<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Creche das Capivaras</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container">
                    <body>
                        <div class="p-3 mb-2 bg-secondary text-white">
                            <h1>DJ PAPÃO</h1>
                        </div>
                    </body>
                    <div class= "container">
                        <figure class="figure">
                            <img src="/assets/Papa-Rave.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                        </figure>
                        <p>Ás vezes o indivíduo está louco na ostia...</p>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>
                        <center><input class="btn btn-secondary ion-social-facebook-outline" type="button" value="Compartilhar"></center>
                        <br></br>
                        <img src="imagens\capivara.jpg" class="rounded float-left" alt="perfil" width="40" height="40">
                        
                        <form>
                            <div class="rounded float-left">
                                <div class="form-group col-auto">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" 
                                    placeholder="Comentário" rows="1"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>       
                </div>
            </div>
        <div class="col-6">
            <div class="container">
                <body>
                    <div class="p-3 mb-2 bg-secondary text-white">
                        <h1>DJ PAPÃO</h1>
                    </div>
                </body>
                <div class= "container">
                    <figure class="figure">
                        <img src="/assets/Papa-Rave.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </figure>
                    <p>Ás vezes o indivíduo está louco na ostia...</p>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <center><input class="btn btn-secondary ion-social-facebook-outline" type="button" value="Compartilhar"></center>
                    <br></br>
                    <img src="imagens\capivara.jpg" class="rounded float-left" alt="perfil" width="40" height="40">
                    
                    <form>
                        <div class="rounded float-left">
                            <div class="form-group col-auto">
                                <textarea class="form-control" id="exampleFormControlTextarea1" 
                                placeholder="Comentário" rows="1"></textarea>
                            </div>
                        </div>
                    </form>
                </div>       
            </div>
        </div>

        <div class="col">
            <div class="container">
                <body>
                    <div class="p-3 mb-2 bg-secondary text-white">
                        <h1>DJ PAPÃO</h1>
                    </div>
                </body>
                <div class= "container">
                    <figure class="figure">
                        <img src="/assets/Papa-Rave.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </figure>
                    <p>Ás vezes o indivíduo está louco na ostia...</p>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <center><input class="btn btn-secondary ion-social-facebook-outline" type="button" value="Compartilhar"></center>
                    <br></br>
                    <img src="imagens\capivara.jpg" class="rounded float-left" alt="perfil" width="40" height="40">
                    
                    <form>
                        <div class="rounded float-left">
                            <div class="form-group col-auto">
                                <textarea class="form-control" id="exampleFormControlTextarea1" 
                                placeholder="Comentário" rows="1"></textarea>
                            </div>
                        </div>
                    </form>
                </div>       
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
        
        </div>
        
        <div class="col-5">

        </div>
        
        <div class="col">

        </div>
    </div>
</body>
</html>